@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --cor0: #FA1B13;
    --cor1: #C71610;
    --cor2: #FB645F;
    --cor3: #7A312F;
    --cor4: #7A0E0A;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', "cursive"; 
    --font-and: 'android', 'cursive';
}

body{
    background: #ffffff;
}

button{
    border: 0;
    padding: 0;
    font-family: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
}

.navbar{
    background-color: rgb(34, 32, 32);
}
.navbar-toggler-icon{
    color: var(--cor0);
}